.event_card {
    position: relative;
    min-height: 400px;

    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;

    box-sizing: border-box;
    color: white;

    background-color: #111;
    background-size: cover;
    background-position: center;

    margin-left: 20px;
}

.event_card > * {
    min-width: 0;
    cursor: pointer;
}

.event_info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event_info p {
    margin: 0;
    font-size: 12px;
    opacity: 0.9;
}

.event_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;

    padding: 12px 14px;
    box-sizing: border-box;

    background: linear-gradient(
            to top,
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.3)
    );
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}