.card_link {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: inherit;
}

.event_card > * {
    min-width: 0;
}

.event_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;

    padding: 12px 14px;
    box-sizing: border-box;

    background: linear-gradient(
            to top,
            rgba(0,0,0,0.8),
            rgba(0,0,0,0.3)
    );
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}