.navbar-div {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 5px 0;
    z-index: 1000;
    background-color: #111;
{/*border: 1px solid lightgrey;*/}
    border-radius: 20px;
}

.navbar-btn {
    padding: 30px 50px;
    border: 5px solid yellow;

    color: white;
    background-color: transparent;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    height: 100%;
}

.navbar-btn:hover {
    background-color: darkgray;
    color: black;
}