@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xl: 1400px;
  --breakpoint-lg: 1150px;
  --breakpoint-md: 767px;
  --breakpoint-sm: 639px;
  --breakpoint-xs: 393px;
}

@utility theme-mode {
  @apply bg-linear-to-t from-amber-200 to-amber-100 dark:bg-linear-to-t dark:from-zinc-900 dark:to-zinc-800  transition-colors duration-500;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  .page_layout {
    grid-template-columns: 1fr;
  }

  .filter-sidebar {
    position: static;
  }
}

@media (max-width: 600px) {
  .events_row {
    grid-template-columns: 1fr;
  }
}